.container{ 
    width:70%;
    margin: auto;
    text-align: center;
}
.dice {
    text-align: center;
    display: inline-block;
}
body {
    background-color: black;
}
h1 {
    margin: 40px;
    font-family: sans-serif;
    text-shadow: 5px 0 steelblue;
    color:chocolate;
    font-size: 8rem;
}
p {
    font-size: 2rem;
    color: rgb(255, 0, 221);
    font-family: 'Indie Flower', cursive;
}

img {
    width: 20%;
}

footer {
    margin-top: 5%;
    text-align: center;
    color: rgb(165, 42, 83);
    font-family: 'Indie Flower', cursive;
}